*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

/app/build
/GBApp/build
/GBDaoGenerator/build
/polar-ble-src/build
/polar-ble-src/.gradle
/polar-ble-src/.idea
/polar-demo-app/build
